/out/production/Algoritms/SortTasksByPriority/HeapSortTasks.class
/out/production/Algoritms/SortTasksByPriority/Main.class
/out/production/Algoritms/CountingSort/CountingSortLetters.class
/out/production/Algoritms/CountingSort/Main.class
/out/production/Algoritms/RadixSort/Main.class
/out/production/Algoritms/RadixSort/RadixSortPhoneNumbers.class
